<section>
  <.greet messenger={@messenger}/>
  <p>Your chosen locale is "<%= @locale %>".</p>
  <p>The value of the <code>format</code> argument is "<%= @format %>".</p>
  <p>And here are some more values: <%= @values %></p>
</section>
